<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve static HTML site for m.thehillschamps.com
    RewriteCond %{HTTP_HOST} ^test\.thehillschamps\.com$ [NC]
    RewriteRule ^(.*)$ thehillsinternational/$1 [L]

    # Default rule for main website (thehillschamps.com)
    RewriteCond %{HTTP_HOST} ^(www\.)?thehillschamps\.com$ [NC]
    RewriteCond %{REQUEST_URI} !^public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>